@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Raleway&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
    font-style: normal;
}

.nav-link, .btn {
    font-family: 'Poppins', sans-serif;
}

.card-text
 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* BUTTON DE COMPRA */
.botao {
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    visibility: hidden;
    background-color: #2A3342;
    border: none;
    padding: 15px;
    border-radius: 15px;
    color: white;
    width: 300px;
    font-size: 25px;
}
  #btn4 {
    margin-top: 20px;
  }
  .botao:hover{
    background-color: #495c7d;
  }

.card:hover {
    box-shadow: 10px 10px 10px;

}

/* ESTILIZAÇÃO DO MODAL 1 */
#modal {
    text-align: center;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #modal-content { 
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 650px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
  }
  #close-modal {
    float: right;
    font-size: 42px;
    cursor:pointer;
  
  }
  
  #contact-btn {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 25px;
    background: #2A3342;
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin-top: 40px;
    cursor: pointer;
    width: 380px;

    color: white;
  }

  #contact-btn:hover {
    background-color: #495c7d;
  }
  .box-contact{
    font-size: 33px;
    
  }

.box-contact p, h1 {
    font-family: 'Montserrat';
    margin-bottom: 80px;
    
}

.box-contact h1 {
    margin-top: 90px;
    font-size: 55px;
}
/* ESTILIZAÇÃO DO MODAL 2 */

#modal2 {
  display: none;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#content2 { 
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 650px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}
#close-modal2 {
  float: right;
  font-size: 42px;
  cursor:pointer;

}



.box-contact2 {
  font-size: 33px;
  
}

.box-contact2 p {
  font-family: 'Montserrat';
  font-size: 30px;
  margin-bottom: 60px;
  
 
}

.box-contact2 h1 {
  font-family: 'Montserrat';
  margin-top: 60px;
  margin-bottom: 58px;
  font-size: 50px;
}